<mat-card>
    <mat-card-title>Confirma exclusão do Usuário?</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="usuario.nome" name="nome" disabled>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nick" [(ngModel)]="usuario.nick" name="nick" disabled>
        </mat-form-field>


        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="usuario.senha" name="senha" disabled>
        </mat-form-field>

    </form>
    <button mat-raised-button (click)="delete()" color="warn">
    Excluir
    </button>
    <button mat-raised-button (click)="cancelar()">
    Cancelar
    </button>
</mat-card>