<mat-card>
    <mat-card-title>Excluir Aluno</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                   [value]="aluno.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email"
                   [value]="aluno.email" name="email" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteAluno()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>