<mat-card>
    <mat-card-title class="center-title">Alterar Aluno</mat-card-title>
    <form [formGroup]="alunoForm" (ngSubmit)="updateAluno()">
        <div class="form-container">
            <mat-form-field>
                <label>Nome:</label>
                <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
            <mat-form-field>
                <label>Série</label>
                <mat-select placeholder="Série" formControlName="serie">
                    <mat-option *ngFor="let serie of series" [value]="serie">{{ SerieEnum[serie] }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <label>Telefone de Contato:</label>
                <input matInput placeholder="Telefone de Contato" formControlName="telefoneContato"
                       mask="(00) 00000-0000">
            </mat-form-field>
            <mat-form-field>
                <label>Email:</label>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <label>Data de Nascimento:</label>
                <input matInput [matDatepicker]="picker" placeholder="Data de Nascimento"
                       formControlName="dataNascimento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <label>Instituição de Ensino:</label>
                <input matInput placeholder="Instituição de Ensino" formControlName="instituicaoDeEnsino">
            </mat-form-field>
            <mat-form-field>
                <label>Nome do Responsável:</label>
                <input matInput placeholder="Nome do Responsável" formControlName="nomeResponsavel">
            </mat-form-field>
            <mat-form-field>
                <label>Telefone do Responsável:</label>
                <input matInput placeholder="Telefone do Responsável" formControlName="telefoneResponsavel"
                       mask="(00) 00000-0000">
            </mat-form-field>
            <mat-form-field>
                <label>Matrícula no Projeto:</label>
                <input matInput placeholder="Matrícula no Projeto" formControlName="matriculaProjeto">
            </mat-form-field>
            <mat-form-field>
                <label>Data de Inscrição:</label>
                <input matInput [matDatepicker]="picker2" placeholder="Data de Inscrição"
                       formControlName="dataInscricao">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <label>Observações:</label>
                <textarea matInput placeholder="Observações" formControlName="observacoes"></textarea>
            </mat-form-field>
            <div class="endereco-container" formGroupName="endereco">
                <div>
                    <mat-form-field>
                        <label>CEP:</label>
                        <input matInput placeholder="CEP" formControlName="cep" mask="00000-000"
                               (blur)="buscarEndereco()">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>Logradouro:</label>
                        <input matInput placeholder="Logradouro" formControlName="logradouro">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>Bairro:</label>
                        <input matInput placeholder="Bairro" formControlName="bairro">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>Cidade:</label>
                        <input matInput placeholder="Cidade" formControlName="cidade">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>UF:</label>
                        <input matInput placeholder="UF" formControlName="uf">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>Número:</label>
                        <input matInput placeholder="Número" formControlName="numero" type="number">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <label>Complemento:</label>
                        <input matInput placeholder="Complemento" formControlName="complemento">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button mat-raised-button class="action-button" color="primary" type="submit">
            Atualizar
        </button>
        <button mat-raised-button class="cancel-button" type="button" (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>