<div class="login">
    <div class="header">Log In</div>
    <form [formGroup]="loginForm" (ngSubmit)="fazerLogin()">
        <mat-form-field>
            <input matInput formControlName="login" type="text" id="username" placeholder="Username" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="password" type="password" id="password" placeholder="Password" required>
        </mat-form-field>
        <div class="actions">
            <button mat-raised-button color="primary" type="submit">LOG IN</button>
        </div>
    </form>
</div>