<div class="home mat-elevation-z4">
    <table mat-table [dataSource]="usuario" matSort>

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let linha">{{ linha.id}}</td>
        </ng-container>


        <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let linha">{{linha.nome}}</td>
        </ng-container>



        <ng-container matColumnDef="senha">
            <th mat-header-cell *matHeaderCellDef>Senha</th>
            <td mat-cell *matCellDef="let linha">{{ linha.senha}}</td>
        </ng-container>




        <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef>Ações</th>
            <td mat-cell *matCellDef="let linha">
                <a (click)="editar(linha)" class="edit">
                    <i class="material-icons">
        edit
        </i>
                </a>
                <a (click)="excluir(linha)" class="delete">
                    <i class="material-icons">
        delete
        </i>
                </a>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr mat-row *matRowDef="let row; columns: colunas;"></tr>
    </table>


</div>