<mat-card>
    <mat-card-title class="center-title">Novo Aluno</mat-card-title>
    <form [formGroup]="alunoForm" (ngSubmit)="createAluno()">
        <div class="form-container">
            <mat-form-field>
                <input matInput placeholder="Nome" formControlName="nome">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Série" formControlName="serie">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone de Contato" formControlName="telefoneContato" mask="(00) 00000-0000">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Estado" formControlName="estado">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Telefone do Responsável" formControlName="telefoneResponsavel" mask="(00) 00000-0000">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Idade" formControlName="idade" type="number">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Instituição de Ensino" formControlName="instituicaoDeEnsino">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Cidade" formControlName="cidade">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Nome do Responsável" formControlName="nomeResponsavel">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Matrícula no Projeto" formControlName="matriculaProjeto">
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data de Inscrição" formControlName="dataInscricao">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Observações" formControlName="observacoes"></textarea>
            </mat-form-field>
        </div>
        <button mat-raised-button class="action-button" color="primary" type="submit">
            Salvar
        </button>
        <button mat-raised-button class="cancel-button" type="button" (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>