.home-container {
  background-color: #f9f9dc; /* Amarelo pastel */
  color: #4d4d4d; /* Cinza pastel */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  gap: 20px;
}

.menu-button {
  width: 60px;
  height: 60px;
  background-color: #ffd966; /* Amarelo claro */
  color: #4d4d4d; /* Texto em cinza */
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove o sublinhado do Link */
  text-align: center;
}

.menu-button:hover {
  background-color: #f4e3a1; /* Amarelo mais claro ao passar o mouse */
}