<mat-card>
    <mat-card-title class="center-title">Novo Workshop</mat-card-title>
    <form [formGroup]="workshopForm" (ngSubmit)="createWorkshop()">
        <div class="form-container">
            <mat-form-field>
                <input matInput placeholder="Título" formControlName="titulo">
            </mat-form-field>
            <mat-form-field>
                <textarea matInput placeholder="Descrição" formControlName="descricao"></textarea>
            </mat-form-field>
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Data" formControlName="data">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div class="professor-container" formGroupName="professor">
                <mat-form-field>
                    <input matInput placeholder="Nome do Professor" formControlName="nome">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Email do Professor" formControlName="email">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Telefone de Contato do Professor" formControlName="telefoneContato" mask="(00) 00000-0000">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Especialização do Professor" formControlName="especializacao">
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Instituição de Vínculo do Professor" formControlName="instituicaoVinculo">
                </mat-form-field>
            </div>
        </div>
        <button mat-raised-button class="action-button" color="primary" type="submit">
            Salvar
        </button>
        <button mat-raised-button class="cancel-button" type="button" (click)="cancel()">
            Cancelar
        </button>
    </form>
</mat-card>